.buto
{
    padding: 5px;color:rgb(14, 59, 80); 
    background-color:green;width: 25%;
    border-radius: 50px; color: white;
    text-decoration: none;   
   
}


.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.demo-container {
    padding: 0 1em;
}

.external-container {
    display: flex;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 12px 16px;
}



.my-form
{
    size: 40%;
    padding: 20px;
    margin-top:0px;
    display: block;
    background-color:rgb(14, 59, 80);
    width: 25%;
    color: white;
    margin-bottom: 400px;
}
.group label{
    margin-top: 80px;
    display: block;
    font-weight:lighter;
}
.my-form input{
    border-radius: 15px;
    height:5%;
}
.my-form textarea{
    width:70% ;
    height: 20%;
    border-radius: 15px;
    color:black;
}