input
{
    display:flex;
    background-color: green;
    margin-top:40px;
    border-radius: 12px;
    color: white;
}
.ddsply{
    margin-top: 40px;
    background-color:rgb(14, 59, 80);
    width: 10%;
    height: 100%;
    border-radius: 12px;
    padding-left: 20PX;
}
body{
    background-color:lightgray;

}
.h{
    color:rgb(14, 59, 80); ;

}